<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto px-5">

            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="#">Contact Us <span class="sr-only"></span></a>
            </li>
            <li>
                <input class="form-control-md p-2 search  " style="border-radius: 8px;" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn  my-2 mx-3 " type="submit">Search</button>
                <button class="btn lbtn  my-2 mx-4 " type="submit" routerLink="/login">Logout</button>
            </li>
        </ul>
    </div>